*{
    margin: 0;
}

.grid{
    display: grid;
}

.project-container{
    background-color: lightblue;
    justify-items: center;
    gap: 10px;
}

#content{
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
}

.todos-container{
    display: grid;
    gap: 15px;
}